.bg-primary {
    background-color: #19172E !important;
}

.text-primary {
    color: #19172E !important;
}

.border-primary {
    color: #19172E !important;
    border-color: #19172E !important;
}

* {
    font-family: 'Inter', sans-serif;
}

.hero-bg {
    background-image: url(./imgs/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.image-produto-home {
    background-image: url(./imgs/produtosPrimeiraPagina.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.min-height {
    padding-block: 256px;
}

.text-dark {
    color: #140F2D;
}

.text-secondary {
    color: #0CCA4A !important;
}

.bg-secondary {
    background-color: #0CCA4A !important;
}

@media (min-width: 960px) {
    .m-out {
        margin-top: -60px !important;
    }
}


.ml-out {
    margin-left: -60px;
}

.pb-6 {
    padding-bottom: 132px;
}

.bg-titulos {
    background-image: url(./imgs//bg-titulos-sob-medida.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.teste-teste {
    width: 238px;
    height: 52px;
    top: 253.5px;
    left: 405px;
    padding: 16px 25px 17px 25px;
    border-radius: 9px;

}

.efeito-buttom:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #000000;
    transition: 0.5s;
    opacity: 0.9;
    color: #FFF;
}

@media (max-width: 960px) {
    .w-sm-80 {
        width: 80% !important;
    }
}